@import './variables.scss';

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  background-color: $backgroundColor;
  color: $backgroundTertiaryColor;
}

*{
  margin: 0;
  font-weight: var(--sc-font-weight-sm);
  list-style: none;
  outline: none;
  border: none;
  font-size: 1em;
  box-sizing: border-box;
  // border: 1px solid red;
}

html {
  scroll-behavior: smooth;
}

.b-items__link{
  &, &:visited, &:hover, &:active {
    font-style: inherit;
    color: inherit;
    background-color: transparent;
    font-size: inherit;
    text-decoration: none;
    font-variant: inherit;
    font-weight: inherit;
    line-height: inherit;
    font-family: inherit;
  }
}

.skeleton {
  border-radius: 1em;
  animation: skeleton-loading 1s linear infinite alternate;
}

@keyframes skeleton-loading {
  0% {
    background-color: rgb(174, 187, 194);
  }
  100% {
    background-color: rgb(220, 224, 227);
  }
}