@import './variables.scss';

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  background-color: $backgroundColor;
  color: $backgroundTertiaryColor;
}

*{
  margin: 0;
  font-weight: var(--sc-font-weight-sm);
  list-style: none;
  outline: none;
  border: none;
  font-size: 1em;
  box-sizing: border-box;
  // border: 1px solid red;
}

html {
  scroll-behavior: smooth;
}