@import '@styles/variables.scss';
@import '@styles/_responsive.scss';

.b-carrousel {
  width: 100%;
  padding: 0 5em;
  display: flex;
  flex-direction: column;
  gap: 2em;
  padding-top:6em;
  .b-carrousel__header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    .b-header__title{
      font-size: 1.5em;
      font-weight: 500;
    }
  }
  .b-carrousel__card{
    display: flex;
    flex-direction: column;
    gap: 0.5em;
    .b-card__image{
      width: 100%;
      height: 560px;
      overflow: hidden;
      border-radius: 1em;
      cursor: pointer;
      position: relative;
      .b-card__episode{
        position: absolute;
        top: 0;
        left: 0;
        padding: 0.75em 1em;
        background: $baseColor;
        color: #fff;
        font-size: 1em;
        font-weight: 500;
        border-radius: 0 0 1em 0;
        z-index: 2;
      }
      .b-image--zoom{
        width: 100%;
        height: 560px;
	      transform: scale(1);
	      transition: .3s ease-in-out;
        object-fit: cover;
        &:hover{
          transform: scale(1.1);
        }
      }
    }
    .b-card__title{
      font-size: 1.2em;
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
      cursor: pointer;
      &:hover{
        color: #fff;
      }
    }
    .b-card__btn{
      display: flex;
      align-items: center;
      justify-content: flex-start;
      padding: 0;
      margin: 0;
      gap: 0.25em;
      background: transparent;
      color: $baseColor;
      cursor: pointer;
      &:hover{
        text-decoration: underline;
      }
    }
  }
}

@include mobile {
  .b-carrousel {
    padding: 0 2em;
    .b-carrousel__card{
      .b-card__image{
        height: 380px;
        max-width: 400px;
        .b-image--zoom{
          height: 380px;
        }
      }
    }
  }
}

@include tablet {
  .b-carrousel {
    padding: 0 2em;
    .b-carrousel__card{
      .b-card__image{
        height: 420px;
        max-width: 500px;
        .b-image--zoom{
          height: 420px;
        }
      }
    }
  }
}

@include desktop {
  .b-carrousel {
    padding: 0 5em;
    .b-carrousel__card{
      .b-card__image{
        height: 400px;
        .b-image--zoom{
          height: 400px;
        }
      }
    }
  }
}

@include desktop-lg {
  .b-carrousel {
    .b-carrousel__card{
      .b-card__image{
        height: 400px;
        .b-image--zoom{
          height: 400px;
        }
      }
    }
  }
}

@include desktop-xl{
  .b-carrousel {
    .b-carrousel__card{
      .b-card__image{
        height: 400px;
        .b-image--zoom{
          height: 400px;
        }
      }
    }
  }
}