@import '@styles/_variables.scss';
@import '@styles/_responsive.scss';

.b-navbar{
  background-color: $backgroundSecondaryColorOpacity;
  backdrop-filter: blur(4px);
  width: 100%;
  position: fixed;
  z-index: 10000;
  .b-navbar__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 80px;
    padding: 0 5em;
    .b-container__btn {
      display: none;
    }
  }
  .b-container-items--hidden, .b-container-items {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    .b-container__form-group {
      position: relative;
      width: 30%;
      .b-form-group__input {
        width: 100%;
        height: 40px;
        padding: 0 1em;
        background-color: rgba(255, 255, 255, 0.2);
        color: $backgroundTertiaryColor;
        border-radius: 1em;
      }
      ::-webkit-input-placeholder { /* Chrome/Opera/Safari */
        color: $backgroundTertiaryColor;
      }
      .b-form-group__btn {
        position: absolute;
        cursor: pointer;
        top: 22px;
        right: 8px;
        transform: translateY(-50%);
        background-color: transparent;
        color: $backgroundTertiaryColor;
        border: none;
        font-size: 1.25em;
        @include transition(all);
        :hover {
          color: #fff;
          @include transition(all);
        }
      }
    }
    .b-items__ul{
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-around;
      list-style: none;
      padding: 0;
      margin: 0;
      width: 60%;
      .b-items__link{
        &, &:visited, &:hover, &:active {
          font-style: inherit;
          color: inherit;
          background-color: transparent;
          font-size: inherit;
          text-decoration: none;
          font-variant: inherit;
          font-weight: inherit;
          line-height: inherit;
          font-family: inherit;
        }
        .b-items__li {
          color: $backgroundTertiaryColor;
          font-weight: 500;
          cursor: pointer;
          font-size: 1em;
          height: 50px;
          display: flex;
          align-items: center;
          @include transition(all, 0.1s, ease);
          &:hover > .b-items__li--genres > span {
            color: $baseColor;
            @include transition(all, 0.2s, ease);
          }
          .b-items__li--genres{
            display: flex;
            align-items: center;
          }
        }
        .b-genres{
          position: absolute;
          top: 50px;
          left: -1em;
          width: 600px;
          height: 442px;
          flex-direction: column;
          flex-wrap: wrap;
          background-color: $backgroundSecondaryColor;
          box-shadow: 0 0 30px rgba(0,0,0,.2);
          padding: 0.5em 1em;
          gap: 0.1em;
          border-radius: 0.5em;
          display: none;
          &::before{
            position: absolute;
            content: "";
            top: -6px;
            width: 0;
            height: 0;
            border-left: 6px solid transparent;
            border-right: 6px solid transparent;
            border-bottom: 6px solid $backgroundSecondaryColor;
          }
          .b-genres__li{
            border-radius: 0.5em;
            padding: 0.5em;
            width: 140px;
            &:hover{
              background-color: $baseColor;
              @include transition(all, 0.2s, ease);
            }
          }
        }
      }
    }
    .b-genres__container{
      position: relative;
      &:hover > .b-genres{
        display: flex;
        @include keyframes(zoomIn){
          0% {
            transform: scale(1);
          }
          50% {
            transform: scale(1.05);
          }
          100% {
            transform: scale(1);
          }
        };
        @include animation(zoomIn, 0.2s, linear);
        @include transition(all, 0.2s, ease);
      }
    }
  }
}
.b-navbar--background-color{
  background-color: $backgroundSemiColor;
  transition: background-color 0.4s linear;
}

@include mobile {
  .b-navbar--mobile{
    height: 100vh;
  }
  .b-navbar {
    z-index: 10000;
    @include opacityColor($backgroundSecondaryColor, 0.7);
    .b-navbar__container{
      display: flex;
      justify-content: flex-start;
      align-items: center;
      width: 100%;
      padding: 0;
      .b-container__header{
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        height: 80px;
        padding: 0 2em;
        .b-navbar__title{
          color: $backgroundTertiaryColor;
          font-size: 1.5em;
          font-weight: $fontWeightBold;
          cursor: pointer;
        }
        .b-container__btn {
          background-color: transparent;
          cursor: pointer;
          color: $backgroundTertiaryColor;
          border: none;
          font-size: 1.25em;
          display: block;
          margin: 0;
          padding: 0;
        }
      }
      .b-container-items--hidden{
        display: none;
      }
      .b-container-items{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 2em;
        width: 100%;
        position: absolute;
        top: 80px;
        left: 0;
        .b-container__form-group {
          position: relative;
          width: 80%;
        }
        .b-items__ul {
          display: flex;
          flex-direction: column;
          gap: 1em;
          align-items: center;
          justify-content: center;
          list-style: none;
          padding: 0;
          margin: 0;
          width: 100%;
          .b-items__link{
            width: 100%;
          }
          .b-items__li {
            color: $backgroundTertiaryColor;
            cursor: pointer;
            font-size: 1.25em;
            @include transition(all);
            flex-direction: column;
            height: 100%;
            width: 100%;
            padding: 0 2em;
            align-items: flex-start;
          }
          .b-genres{
            background-color: $backgroundSecondaryColorOpacity;
            position: static;
            width: 100%;
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: repeat(5, 1fr);
            grid-column-gap: 0.25em;
            grid-row-gap: 0.25em;
            height: 300px;
            overflow-y: scroll;
            animation: none;
            font-size: 0.75em;
            &::-webkit-scrollbar{
              width: 4px;
            }
            &::-webkit-scrollbar-thumb{
              background-color: $baseColor;
              border-radius: 0.5em;
            }
            &::-webkit-scrollbar-track{
              background-color: $backgroundSecondaryColorOpacity;
              border-radius: 0.5em;
            }
            .b-genres__li{
              width: 100%;
            }
            &::before{
              content: none;
            }
          }
        }
        
      }
    }
  }
  .b-navbar--background-color{
    background-color: $backgroundSemiColor;
    transition: background-color 0.4s linear;
  }
}

@include tablet {
  .b-navbar{
    .b-navbar__container {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;
      height: 80px;
      padding: 0 2em;
      .b-container__header{
        display: flex;
        padding-right: 1em;
        .b-nabvar__title{
          color: $backgroundTertiaryColor;
          font-size: 1em;
          font-weight: $fontWeightBold;
          cursor: pointer;
        }
      }
      .b-container-items--hidden, .b-container-items {
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
        width: 100%;
        .b-container__form-group {
          position: relative;
          width: 35%;
        }
        .b-items__ul{
          gap: 0.5em;
        }
      }
    }
  }
}

@include desktop {
  .b-container__header{
    display: flex;
    padding-right: 1em;
  }
  .b-container-items--hidden, .b-container-items {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    width: 100%;
    .b-container__form-group {
      position: relative;
      width: 35%;
    }
  }
}