@import '@styles/_variables.scss';
@import '@styles/_responsive.scss';

.Home {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 1.5rem;
  font-weight: 600;
  @include transition(all);
  @include mobile {
    background-color: blue;
  }
}