@import '@styles/_variables.scss';
@import '@styles/_responsive.scss';

.b-home {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 6em;
}