@import '@styles/variables.scss';
@import '@styles/_responsive.scss';

.b-main-container{
  width: 100%;
  height: 100vh;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  .b-current-slide{
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 0 5em;
    gap: 2em;
    .b-current-slide__title{
      font-size: 3.5em;
      font-weight: 700;
      color: $baseColor;
      text-align: start;
    }
    .b-current-slide__description{
      font-size: 1.25em;
      font-weight: 400;
    }
    .b-description__container{
      display: flex;
      gap: 2em;
      .b-description__btn{
        background-color: transparent;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 0.5em;
        font-size: 1em;
        font-weight: 400;
        color: $backgroundTertiaryColor;
        cursor: pointer;
        @include transition(all);
        &:hover > .b-btn__icon{
          color: #fff;
        }
        .b-btn__icon{
          color: $backgroundTertiaryColor;
          font-size: 1.5em;
          background-color: $baseColor;
          border-radius: 100%;
          padding: 0.25em;
          width: 32px;
          height: 32px;
        }
      }
    }
  }
  .b-slide{
    display: none;
  }
  .b-dots-container{
    position: absolute;
    top: 90%;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2em;
    margin: 0 5em;
    .b-dots--btn{
      background-color: transparent;
      .b-slider__btn{
        width: 1em;
        height: 1em;
        border-radius: 100%;
        border: 2px solid $baseColor;
        background-color: transparent;
        cursor: pointer;
        @include transition(all, 0.3s, ease-in-out);
        &:hover{
          @include opacityColor($baseColor, 0.4);
        }
      }
      .active{
        background-color: $baseColor;
        border: none;
      }
    }
  }
}
@include mobile {
  .b-main-container{
    position: relative;
    .b-current-slide{
      width: 100%;
      padding: 0 2em;
      align-items: center;
      .b-current-slide__title{
        font-size: 2em;
        text-align: center;
      }
      .b-current-slide__description{
        font-size: 1em;
        text-align: center;
        
      }
    }
    .b-dots-container{
      left: 0;
      right: 0;
      top: 95%;
    }
  }
}

@include tablet{
  .b-main-container{
    .b-current-slide{
      width: 100%;
      padding: 0 2em;
      align-items: center;
      .b-current-slide__title{
        font-size: 3em;
        text-align: center;
      }
      .b-current-slide__description{
        font-size: 1em;
        text-align: center;
      }
    }
    .b-dots-container{
      top: 95%;
      right: 60%;
      left: 40%;
    }
  }
}

@include desktop{
  .b-main-container{
    .b-current-slide{
      width: 100%;
      padding: 0 5em;
    }
  }
}

@include desktop-lg{
  .b-main-container{
    .b-current-slide{
      width: 80%;
      padding: 0 5em;
    }
  }
}